<br/>
<p>Goalies on deck is determined by the following criteria:</p>
<ul>
  <li>Ratio of games played to games played as goalie (highest to lowest)</li>
  <li>Number of times played goalie (least to greatest)</li>
  <li>Last date played goalie (oldest to most recent)</li>
</ul>
<br/>
<table>
  <caption>Goalies on Deck</caption>
  <thead>
  <tr>
    <th>Player</th>
    <th align="center">Times Played</th>
    <th align="center">Times Played Goalie</th>
    <th>Last Played Goalie</th>
    <th>Factor</th>
  </tr>
  </thead>
  <%= render :partial => 'goalie_on_deck', :collection => @sorted_players %>
</table>
<br/>
<%= index_only_nav %>
