<tr>
  <td>
    <%= link_to 'Edit', edit_equipment_path(equipment) %> 
    <%= link_to 'Delete', equipment_path(equipment), :method => :delete, :confirm => 'Do you really want to delete this equipment?' %>
  </td>
  <td><%= equipment.description %></td>
</tr>