<table>
  <caption>Equipment</caption>
  <thead>
    <th>Action</th>
    <th>Equipment</th>
  </thead>
  <tbody>
    <%= render :partial => 'equipment', :collection => @equipment %>
  </tbody>
</table>

<%=  index_nav %>
