<h1>Equipment</h1>

<table class='table table-striped'>
  <thead>
    <th>Equipment</th>
    <th>Action</th>
  </thead>
  <tbody>
    <%= render :partial => 'equipment', :collection => @equipment %>
  </tbody>
</table>

<hr />
<p>
  <%= link_to 'New Equipment', new_equipment_path, :class => 'btn btn-primary' %>
</p>