<table>
  <caption>Equipment</caption>
  <thead>
    <th>Action</th>
    <th>Equipment</th>
  </thead>
  <tbody>
    <%= render :partial => 'equipment', :collection => @equipment %>
  </tbody>
</table>

<hr />
<p>
  <%= link_to 'New Equipment', new_equipment_path, :class => 'button' %>
  <%= link_to 'Back to Index', root_path, :class => 'button' %>
</p>