<br/>
<p>Please respond by clicking the following link:</p>
<p><%= link_to 'Update Status', player_status_game_url(@game, :only_path => false) %></p>
<br/>
<p>To check the status of this game at any time:</p>
<p><%= link_to 'Game Status', game_url(@game, :only_path => false) %></p>