<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @game.full_message %></p>
    <br/>
    <p>Please respond by clicking one of the following links:</p>
    <p><%= link_to 'Playing', url_for(:host => "nrcanhockey.murmurinfo.ca", :controller => 'game_player', :id => @recipient.id, :action => :playing) %></p>
    <p><%= link_to 'NOT Playing', url_for(:host => "nrcanhockey.murmurinfo.ca", :controller => 'game_player', :id => @recipient.id, :action => :not_playing) %></p>
    <p><%= link_to 'Late', url_for(:host => "nrcanhockey.murmurinfo.ca", :controller => 'game_player', :id => @recipient.id, :action => :late) %></p>
    <br/>
    <p>To check the status of this game at any time:</p>
    <p><%= link_to 'Game Status', url_for(:host => "nrcanhockey.murmurinfo.ca", :controller => 'game', :id => @game.id, :action => :view) %></p>
  </body>
</html>