<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @game.full_message.html_safe %></p>
	<%= render :partial => 'status' %>
  </body>
</html>