<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @game.full_message.html_safe %></p>
    <br/>
    <p>The following people are playing today:</p>
    <%= render :partial => 'active_player', :collection => @game.playing_players %>
  </body>
</html>