<h1>Games</H1>

<table class='table table-striped'>
  <thead>
    <th>Date</th>
    <th align="center">Number Playing</th>
    <th>Status</th>
    <th>Goalies</th>
    <th>Action</th>
  </thead>
  <tbody>
    <%= render :partial => 'game', :collection => @games %>
  </tbody>
</table>


<%= paginate @games, :theme => 'twitter-bootstrap' %>

<hr />
<p>
  <%= link_to 'New Game', new_game_path, :class => 'btn btn-primary' %>
</p>