<table>
  <caption>Players</caption>
  <thead>
    <th>Action</th>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
  </thead>
  <tbody>
    <%= render :partial => 'player', :collection => @players %>
  </tbody>
</table>

<div class='murmur_pagination'>
  <%= will_paginate @players %>
</div>

<%=  index_nav %>
