<h1>Players</h1>

<table class='table table-striped'>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Active</th>
    <th>Action</th>
  </thead>
  <tbody>
    <%= render :partial => 'player', :collection => @players %>
  </tbody>
</table>

<%= paginate @players %>

<hr />
<p>
  <%= link_to 'New Player', new_player_path, :class => 'btn btn-primary' %>
</p>